{% layout "layout.liquid" %} {% block content %}
    <div>
        {% comment %} <a href="/books/new"><button>Create A New Fruit</button></a> {% endcomment %}
        <h1 class="fw-bolder mb-1">Books</h1>

        {% for book in books %}
            <article>
                <a href="/books/{{ book.id }}">
                <h2>
                </h2>
                    {% comment %} {{book.name}} - {% if book.readyToEat == true %} Ripe 
                    {% else %} 
                    Not Ripe 
                    {% endif %} {% endcomment %}
                    <form action="/books" method="POST">
                       <img src="{{book.image}}"></img>
                        <h6>{{book.title}}</h6>
                     
                        {% comment %} Has Read: <input type="checkbox" name="readyToEat"><br> {% endcomment %}
                    </form>
                </a>
            </article>
        {% endfor %}
    </div>
{% endblock %}
