{% layout "layout.liquid" %} {% block content %}
    <div>
        <h1 class="fw-bolder mb-1">Library</h1>
        <div class="library-box ">
            {% for book in books %}
                <article>
                    <a href="/books/{{ book._id }}">
                    <h2>
                    </h2>
            
                        <form action="/books" method="POST">
    
                        <div> 
                        <img class="image" style="margin: .25rem;" src=" {{book.image}}">
                            {% comment %} <h6>{{book.title}}</h6> {% endcomment %}
                        
                            </div>
                            {% comment %} Has Read: <input type="checkbox" name="readyToEat"><br> {% endcomment %}
                        </form>
                    </a>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}
