{% layout "layout.liquid" %} {% block content %}
<div>
  <h1 class="fw-bolder mb-1">Welcome to GreatReads!</h1>
  <a href="/users/signup"><button>Signup</button></a>
  <a href="/users/login"><button>Login</button></a>
</div><br><br>
{% endblock %}
