{% layout "layout.liquid" %} {% block content %}
    <!-- Welcome Page-->
    <div >
      <h1 class="fw-bolder mb-1">Welcome to GreatReads!</h1>
      <a class="btn btn-primary mt-2" href="/users/signup">Signup</a>
      <a class="btn btn-primary mt-2" href="/users/login">Login</a>
    </div><br><br>
{% endblock %}
