{% layout "layout.liquid" %} {% block content %}
    <div>
        {% comment %} <a href="/reviews/new"><button>Create A New Fruit</button></a> {% endcomment %}
        <h1 class="fw-bolder mb-1">Reviews</h1>
    
            {% for review in reviews %}
                <article>
                    <a href="/reviews/{{ review._id }}">
                    <h2>
                    </h2>
                        {% comment %} {{book.name}} - {% if book.readyToEat == true %} Ripe 
                        {% else %} 
                        Not Ripe 
                        {% endif %} {% endcomment %}
                        <form action="/reviews" method="POST">
                            <h6>Rating: {{review.rating}}</h6>
                         
                            {% comment %} Has Read: <input type="checkbox" name="readyToEat"><br> {% endcomment %}
                        </form>
                    </a>
                </article>
            {% endfor %}
   
   



    </div>
{% endblock %}
