{% layout "layout.liquid" %} {% block content %}
    <div class="d-flex flex-row align-items-center"></div>
        <h1 class="fw-bolder mb-1">Reviews</h1>    
   
        <article>

            <h2>{{ reviews.username }}</h2>
           
            <h3>Rating: {{ reviews.rating }}</h3>
            <h3>Review: {{ reviews.reviewBody }}</h3>
                    
            <form action="/reviews/show" method="post">       

                    <input type="submit" value="Edit Review" class="btn btn-primary"/>
                    {% comment %} {% if review.library == true %} submit {% endif %} {% endcomment %}
                    {% comment %} <fieldset>
                </fieldset> {% endcomment %}
            
        <div class="edit-btn">
            <a href="/reviews/{{ reviews._id }}/edit"><button>Edit</button></a>
        </div>
        <br>
              <div class="delete-btn">
            <a href="/reviews/" type="button" class="btn btn-primary">Back to Main</a>
        </div> 
        </article>
    </div>
{% endblock %}
