{% layout "layout.liquid" %}
{% block content %}
      <div>
        <form action="/users/login" method="post">
          <fieldset>
            <legend>User Login</legend>
            <label
              >USERNAME: <input type="text" name="username" required />
            </label>
            <label>
                PASSWORD: <input type="password" name="password" required />
            </label>
            <label>
              <input type="submit" class="btn btn-primary mt-2" value="Login" />
            </label>
          </fieldset>
        </form>
      </div>
{% endblock %}
