{% layout "layout.liquid" %}
{% block content %}
<div>
  <article>
    <h1 class="fw-bolder mb-1">Profile Page</h1>
    <div>
      Username:
      {{ users.username }}
      <br>
      {% comment %} bookshelf:
      {{users.hasRead}} {% endcomment %}
    </div>
    {% comment %} <h2>
      {{ user.name }} -

      {% comment %} {% if readyToEat == true %}
      Ready to Eat
      {% else %}
      Not Ready to Eat
      {% endif %}
    </h2>{% endcomment %}

    {% comment %} <a href="/users/{{ users._id }}/edit"><button>Edit</button></a> {% endcomment %}

    {% comment %} <a href="/users/"><button>Back to Main Button</button></a> {% endcomment %}
  </article>
</div>
<br><br>
{% endblock %}