{% layout "layout.liquid" %} {% block content %}
    <div>
        <article>
            <h2>
                {{ user.name }} -
                
                {% comment %} {% if readyToEat == true %}
                Ready to Eat
                {% else %}
                Not Ready to Eat
                {% endif %} {% endcomment %}
            </h2>
            {% comment %} <h3>{{ fruit.color }}</h3> {% endcomment %}
            <a href="/users/{{ user._id }}/edit"><button>Edit</button></a>
               
            <a href="/fruits/"><button>Back to Main</button></a>
        </article>
    </div>
{% endblock %}
